<h1>Division: <%= @division.name %></h1>
<h2>Employee: <%= @employee.name %></h2>

<p><%= link_to "Edit employee", edit_division_employee_path(@division, @employee) %></p>
<p><%= link_to "Delete employee", division_employee_path(@division, @employee),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to division", division_path(@division) %></p>

<h1>Projects currently working on:</h1>

  <% if @employee.project_ids.any? %>
    <ul>
      <% @employee.project_ids.each do |project_id| %>
        <li><%= link_to Project.find(project_id).name, project_path(project_id) %></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no projects yet.</p>
    <% end %>


  <% if @projects.any? %>
  <form action ="/employees/<%=@employee.id%>/add_project" method = "post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label for="project_choice">Choose the projects:</label>
    <select name="project_choice" id="project_choice">
      <% @projects.each do |project| %>
        <option name="choice" value="<%=project.id %>"><%=project.name %></option>
      <% end %>
    </select>
    <button type="submit" class = "btn-primary">submit</button>
  </form>

    <% else %>
      <p>There are no projects to assign.</p>
    <% end %>


