<div class="row">
  <div class="col-sm-4">

    <h1>Divisions</h1>
    <% if @divisions.any? %>
    <ul>
      <% @divisions.each do |division| %>
        <li><%= link_to division.name, division_path(division) %></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no divisions yet.</p>
    <% end %>
  
    <p><%= link_to "create new division", new_division_path %></p>

  </div>
  <div class="col-sm-4">

  <h1>Employees</h1>
  <% if @employees.any? %>
  <ul>
    <% @employees.each do |employee| %>
      <li><%= link_to employee.name, division_employee_path(Division.find(employee.division_id), employee) %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no employees yet.</p>
  <% end %>

  </div>
  <div class="col-sm-4">
  
  <h1>Projects</h1>

  <% if @projects.any? %>
    <ul>
      <% @projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no projects yet.</p>
    <% end %>
  
    <p><%= link_to "create new project", new_project_path %></p>

  </div>
</div>